@model OrderVM
@{
    ViewBag.Title = "SiparisiOnayla";
}

<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label class="col-sm-2 control-label"> Gönderim Adresi</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.Order.ShippedAddress, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Kart Uzerindeki Isim</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.CardUserName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Kart Numarası</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.CardNumber, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Kart Güvenlik Numarası</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.SecurityNumber, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Gecerlilik Süresi(Yıl)</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.CardExpiryYear, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Gecerlilik Süresi Ay</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.CardExpiryMonth, new { @class = "form-control" })
            </div>
        </div>

        if (Session["member"] == null)
        {
            <div class="form-group">
                <label class="col-sm-2 control-label"> Email</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Order.Email, new { @class = "form-control" })
                </div>
            </div>
        }

        <div class="form-group">
            <label class="col-sm-2 control-label"> Onay</label>
            <div class="col-sm-10">
                <button class="btn btn-primary">Onay</button>
            </div>
        </div>

    }
</div>


@section Member
{

    @if (Session["member"] != null)
    {
        <span class="from">@((Session["member"] as AppUser).UserName)</span>
    }
}

