
@model AppUserVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->


    <link href="~/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/OuterTools/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/OuterTools/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/OuterTools/css/style.css" rel="stylesheet">
    <link href="~/OuterTools/css/style-responsive.css" rel="stylesheet" />
</head>
<body class="login-body">
    <div class="container">

        <h2>@ViewBag.Kullanici</h2>

        @TempData["HesapAktifMi"]

        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            <br />
            <center> <h2>Giriş Yapınız </h2> </center>

            <div class="login-wrap">
                @Html.TextBoxFor(x => x.AppUser.UserName, new { @class = "form-control", placeholder = "Kullanıcı ismi giriniz" })
                @Html.PasswordFor(x => x.AppUser.Password, new { @class = "form-control", placeholder = "Sifre giriniz" })
              
            </div>

            <br />

            <button class="btn btn-primary">Giriş yap</button>

            <div>
                @Html.ActionLink("Kayıt ol", "RegisterNow", "Register")
            </div>

        }





    </div>
</body>
</html>
